.container {
    width: 90%;
    margin: 50px auto;
}

#add_task {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 60px;
    width: 70%;
    height: 50px;
    background-color: tomato;
    color: white;
    border: none;
    border-radius: 5px;

    @media screen and (max-width: 500px) {
        left: 80%;
        width: 60px;
        height: 60px;
        bottom: 50px;
        z-index: 5;
        border-radius: 30px;
        box-shadow: 5px 5px 5px lightgrey;
    }
}

#add_task:hover {
    cursor: pointer;
    box-shadow: 5px 5px 5px lightgray;
    transform: translate(-50%, -5px) scale(1.02);
}

.task_item {
    font-size: 18px;
    font-weight: 500;
}

.item_name {
    font-size: 20px;
    font-weight: 500;
}

.task_li {
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.task_li:hover {
    background-color: lightblue;
}

.container_tasks {
    overflow: auto;
    max-height: 300px;
}

.form_new-task {
    position: relative;
    width: 330px;
    left: 50%;
    transform: translateX(-50%);
}
