.task_page-container {
    margin: 50px;
}

.button_sign-out {
    position: absolute;
    right: 50px;
    top: 55px;
    padding: 10px;
    border: none;
    background: none;
    color: tomato;
    font-size: 20px;
}

// button:hover {
//     transform: scale(1.03);
//     box-shadow: 3px 3px 5px lightgray;
//     cursor: pointer;
// }