.day {
    flex: none;
    flex-basis: 80px;
    height: 100px;
    margin: 0 20px;
    border: 1px solid lightgray;
    border-radius: 15px;
}

.today {
    flex: none;
    flex-basis: 80px;
    height: 100px;
    margin: 0 20px;
    border: 1px solid lightgray;
    border-radius: 15px;
    background-color: black;
    color: white;
    font-weight: bold;
}

.day > div,
.today > div {
    width: 100%;
    margin: 5px 0 0 0;
    text-align: center;
    z-index: 5;
}

.month_yaer {
    font-size: 12px;
}

.day_name {
    font-size: 20px;
    height: 20%;
}

.date {
    font-size: 25px;
    font-weight: bold;
    height: 30%;
}

.day > .done_tasks,
.day > .doesnt_done_tasks,
.today > .done_tasks,
.today > .doesnt_done_tasks {
    height: 2px;
    position: relative;
    display: inline-block;
    border-width: 2px;
    border-style: solid;
    width: 2px;
    border-radius: 5px;
    margin: 0 5px;
}

.doesnt_done_tasks {
    left: 25px;
    border-color: orange;
    background-color: orange;
}

.done_tasks {
    right: -25px;
    border-color: tomato;
    background-color: tomato;
}