.task_page-container {
    margin: 50px;
}

.button_sign-out {
    position: absolute;
    right: 50px;
    top: 55px;
    padding: 10px;
    border: none;
    background: none;
    color: tomato;
    font-size: 20px;
}
